 /* comfortaa font */
 @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
 /*fira sens*/
 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     margin: 0;
     padding: 0;
     font-family: "Fira Sans", sans-serif;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: "Comfortaa", sans-serif;
 }

 :root {
     --color-one: #ED6436;
     --color-two: #7C0D90;
     --color-three: #fff;
     --color-four: #000;
 }

 a {
     text-decoration: none;
 }

 header {
     background-color: var(--color-two);
     color: var(--color-three);
 }

 .top-haeder {
     padding: 10px 0px;
     border-bottom: 1px solid #ffffff50;
 }

 .top-header-left .currency a,
 .top-header-left .language a {
     outline: none;
     background: transparent;
     color: var(--color-three);
     border: none;
     font-size: 13px;
 }

 .top-header-left .currency .option-menu,
 .language .option-menu {
     background-color: var(--color-three);
     width: 100%;
     padding: 10px 0px;
     transform: translate(0px, 25px);
     opacity: 0;
     border-radius: 5px;
     display: none;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     /* border: 2px solid var(--color-two); */
     border-top: none;
     padding-bottom: 0;
     overflow: hidden;
 }

 .top-header-left .currency .option-menu li a,
 .language .option-menu li a {
     color: #333;
     font-size: 13px;
     font-weight: 500;
     transition: .6s;
 }

 .top-header-left .currency .option-menu li,
 .language .option-menu li {
     background-color: var(--color-three);
     text-align: center;
     padding: 5px 10px;
     transition: .6s;
     cursor: pointer;
 }

 .top-header-left .currency .option-menu li:hover,
 .language .option-menu li:hover {
     transition: .6s;
     background: var(--color-two);
     color: var(--color-three);
 }

 .top-header-left .currency .option-menu li:hover a,
 .language .option-menu li:hover a {
     transition: .6s;
     color: var(--color-three);
 }


 .top-header-left .currency>a,
 .language>a {
     font-size: 13px;
     display: flex;
     color: var(--third-color);
     width: 100px;
     justify-content: space-between;
 }

 .language>a {
     width: 80px;
 }

 .top-header-left .currency>a span:nth-child(2),
 .language>a span:nth-child(2) {
     display: block;
     margin-top: 2px;
 }

 .top-header-left .currency,
 .top-header-left .language {
     position: relative;
 }

 .top-header-left .currency:hover .option-menu,
 .language:hover .option-menu {
     animation: fade-up .5s ease-in-out forwards alternate;
     display: block;
 }

 @keyframes fade-down {
     0% {
         transform: translate(0px, 0px);
         opacity: 1;
     }

     100% {

         transform: translate(0px, 25px);
         opacity: 0;
     }
 }

 @keyframes fade-up {
     0% {
         transform: translate(0px, 25px);
         opacity: 0;
     }

     100% {
         transform: translate(0px, 0px);
         opacity: 1;
     }
 }

 .top-header-left .currency .option,
 .language .option {
     width: 150px;
     position: absolute;
     z-index: 9;
 }

 .top-header-right ul.user_option li a {
     color: var(--color-three);
     font-size: 14px;
     transition: .6s;
 }

 .top-header-right ul.user_option li a:hover {
     color: var(--color-one);
     transition: .6s;
 }

 .top-header-left .currency a:hover,
 .top-header-left .language a:hover {
     color: var(--color-one);
     transition: .6s;
 }

 .helpline span:hover {
     color: var(--color-one);
     transition: .6s;
 }

 .helpline span {
     font-size: 14px;
     color: var(--color-three);
     transition: .6s;
     cursor: pointer;
 }

 .main_header .main_header_wrapper .logo h2 {
     font-size: 35px;
     font-weight: 800;
     color: var(--color-three);
     margin-bottom: 0;
     
 }
 .main_header .main_header_wrapper .logo h2 span{
    color: var(--color-one);
    font-family: "Comfortaa", sans-serif;
 }
.main_menu_container > ul > li {
    position: relative;
}
.main_menu_container > ul > li .dropdown_menu{
    position: absolute;
    width: 200px;
    text-align: center;
    background: var(--color-three);
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translate(0px, 30px);
    opacity: 0;
    visibility: hidden;
    transition: .6s;
}
.main_menu_container > ul > li .dropdown_menu ul li a {
    display: block;
    
}
 .main_header .main_header_wrapper .header_search {
     width: 600px;
     height: 50px;
     background: var(--color-three);
     border-radius: 5px;
 }

 .main_header {
     padding: 15px 0px;
 }

 .main_header .main_header_wrapper .header_search input::placeholder {
     color: var(--color-one);
 }

 .main_header .main_header_wrapper .header_search input {
     height: 100%;
     background: white;
     outline: none;
     border: 1px solid transparent;
     border-radius: 5px;
     padding: 10px;
     font-size: 14px;
     color: var(--color-one);
     width: calc(100% - 230px);
 }

 .main_header .main_header_wrapper .category {
     height: 100%;
 }

 .main_header .main_header_wrapper .header_search form {
     height: 100%;
     width: 100%;
     justify-content: space-between;
 }


 .main_header .main_header_wrapper .header_search button {
     width: 60px;
     height: 100%;
     outline: none;
     border: 1px solid transparent;
     background: var(--color-one);
     color: var(--color-three);
     border-radius: 5px;
     border: 2px solid var(--color-three);
 }

 .main_header .main_header_wrapper .side_option {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 30px;
 }

 .main_header .main_header_wrapper .side_option a {
     font-size: 20px;
     color: var(--color-three);
     transition: .6s;
 }

 .main_header .main_header_wrapper .side_option a:hover {
     color: var(--color-one);
     transition: .6s;
 }

 .main_header .main_header_wrapper .category .category_option {
     display: block;
     position: absolute;
     background: var(--color-three);
     width: 100%;
     bottom: 0;
     transform: translate(0px, 110%);
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
     border-top: none;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     visibility: hidden;
     opacity: 0;
 }

 .main_header .main_header_wrapper .category {
     width: 170px;
     position: relative;
 }

 .main_header .main_header_wrapper .category .category_field {
     font-size: 14px;
     color: var(--color-four);
     height: 100%;
     padding: 15px;
     display: flex;
     justify-content: space-between;
     width: 100%;
     background: #ededed;
     border-radius: 5px;
 }

 .main_header .main_header_wrapper .category .category_option ul li {
     text-align: center;
     font-size: 14px;
     padding: 6px 0px;
     color: var(--color-four);
     transition: .6s;
     cursor: pointer;
 }

 .main_header .main_header_wrapper .category .category_option ul li:hover {
     color: var(--color-three);
     transition: .6s;
     background: var(--color-two);
 }

 .main_header .main_header_wrapper .category:hover .category_option {
     display: block;
     transition: .6s;
     opacity: 1;
     visibility: visible;
     transform: translate(0px, 100%);
 }

 .bottom_header_wrapper .side_menu {
     width: 230px;
     position: relative;
     transition: .6s;
 }



 .bottom_header_wrapper .side_menu button {
     width: 100%;
     height: 50px;
     font-size: 14px;
     font-weight: 500;
     border-radius: 5px;
     background: var(--color-three);
     position: relative;
     border: none;
     display: flex;
     align-items: center;
     justify-content: space-around;
 }

 .bottom_header_wrapper .side_menu .side_menu_wrapper ul li a:hover {
     background: var(--color-two);
     color: var(--color-three);
     transition: .6s;
 }

 .bottom_header_wrapper .side_menu .side_menu_wrapper {
     position: absolute;
     width: 100%;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 18px 29px 0px;
     border-radius: 5px;
     overflow: hidden;
     opacity: 0;
     visibility: visible;
     transform: scaleY(0);
     transform-origin: top;
     transition: .6s;
 }

 .bottom_header_wrapper .side_menu .side_menu_wrapper ul li a {
     display: block;
     width: 100%;
     padding: 10px 15px;
     border-bottom: 1px solid #ededed;
     font-size: 14px;
     color: var(--color-four);
     transition: .6s;
     background-color: var(--color-three);
 }

 .bottom_header {
     padding: 15px 0px;
 }

 .bottom_header_wrapper .side_menu .side_menu_wrapper ul li a:hover {
     background: var(--color-two);
     color: var(--color-three);
     transition: .6s;
 }

 .bottom_header_wrapper .side_menu:hover .side_menu_wrapper {
     opacity: 1;
     visibility: visible;
     transform: scaleY(1);
     transition: .6s;
 }

 .main_menu_container ul li a {
     font-size: 14px;
     text-transform: uppercase;
     font-weight: 500;
     color: var(--color-three);
     transition: .6s;
 }

 .main_menu_container ul {
     gap: 35px;
 }

 .main_menu_container ul li a:hover {
     color: var(--color-one);
     transition: .6s;
 }

 .bottom_header .social_link a {
     width: 35px;
     height: 35px;
     display: grid;
     place-items: center;
     border-radius: 50%;
     background: var(--color-three);
     color: var(--color-one);
     font-size: 14px;
     transition: .6s;
 }

 .bottom_header .social_link a:hover {
     color: var(--color-two);
     transition: .6s;
 }
 .main_menu_container > ul > li .dropdown_menu > ul > li a {
    color: var(--color-two);
    display: block;
    padding: 10px;
    font-size: 14px;
    text-transform: capitalize;
    background: transparent;
    transition: .6s;
}

.main_menu_container > ul > li .dropdown_menu > ul > li a:hover {
    transition: .6s;
    color: var(--color-three);
    background: var(--color-two);
}

.main_menu_container > ul > li:hover .dropdown_menu {
    opacity: 1;
    visibility: visible;
    transition: .6s;
    transform: translate(0px, 0px);
}
.side_cart_header h5{
    font-size: 22px;
    font-weight: 700;
}
.side_cart_header h5 svg {
    color: var(--color-two);
    font-size: 25px;
}
.side_cart_header button.btn-close {
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    background: var(--color-two);
    opacity: 1;
    border-radius: 50%;
    color: var(--color-three) !important;
}

.btn-close {
    color: var(--color-three);
}
.cart_product_container 
 .single_c_product .cart_img {
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 15px;
    background-color: var(--color-three);
}

.cart_product_container .single_c_product .cart_img .cart_no {
    position: absolute;
    color: var(--color-one);
    font-weight: 700;
    font-size: 30px;
    top: -20px;
    left: -15px;
}

.cart_product_container .single_c_product .cart_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid var(--color-two);
}

.cart_product_container .single_c_product .cart_info h3 {
    font-size: 18px;
    font-weight: 800;
}

.cart_product_container .single_c_product {
    gap: 10px;
}

.cart_product_container .single_c_product .cart_info {
    position: relative;
}

.cart_product_container .single_c_product > .cart_delete {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #666;
    width: 22px;
    height: 22px;
    display: grid;
    place-items: center;
    font-size: 14px;
    border-radius: 50%;
    border: 1px solid var(--color-one);
    color: var(--color-one);
    cursor: pointer;
}

.cart_product_container .single_c_product .cart_info .add_cart span {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 5px 0px 0px 5px;
    font-size: 15px;
    background-color: var(--color-one);
    color: var(--color-three);
    cursor: pointer;
}
.cart_product_container .single_c_product .cart_info .add_cart input {
    height: 30px;
    width: 40px;
    outline: none;
    border: 1px solid var(--color-one);
    text-align: center;
    padding: 5px;
    font-size: 15px;
    color: var(--color-one);
}
.cart_product_container .single_c_product .cart_info .add_cart input::-webkit-inner-spin-button,
.cart_product_container .single_c_product .cart_info .add_cart input::-webkit-outer-spin-button{
    appearance: none;
}
.cart_product_container .single_c_product .cart_info .add_cart span:last-child {
    border-radius: 0px 5px 5px 0px;
}

.cart_product_container .single_c_product .cart_info h3:hover {
    color: var(--color-two);
    transition: .6s;
}

.cart_bottom .subtotal h4 {
    font-size: 18px;
    margin-bottom: 0;
}

.cart_bottom .subtotal > span {
    font-size: 18px;
    font-weight: 600;
}

.cart_bottom .subtotal {
    padding: 10px 0px;
    border-top: 1px solid var(--color-two);
    border-bottom: 1px solid var(--color-two);
}

.cart_bottom .side_cart_buttons a {
    width: 220px;
    height: 50px;
    display: grid;
    place-items: center;
    margin-bottom: 15px;
    background: var(--color-two);
    color: var(--color-three);
    font-weight: 500;
    border-radius: 50px;
    transition: .6s;
    position: relative;
    overflow: hidden;
}
.price_cart > span {
    font-weight: 600;
    font-size: 20px;
    color: var(--color-two);
}

.price_cart {
    gap: 35px;
}
.cart_bottom .side_cart_buttons {
    align-items: center;
    padding: 30px;
}

.cart_bottom .side_cart_buttons a:last-child {
    margin-bottom: 0;
    background: var(--color-one);
}

.cart_product_container {
    /* padding: 15px 0px; */
    padding-bottom: 35px;
}
.cart_bottom .side_cart_buttons a:first-child::before {
    content: " ";
    width: 100%;
    position: absolute;
    height: 100%;
    background: var(--color-one);
    transform-origin: bottom left;
    transform: scale(0);
    transition: .6s;
}
.cart_bottom .side_cart_buttons a:last-child::before {
    content: " ";
    width: 100%;
    position: absolute;
    height: 100%;
    background: var(--color-two);
    transform-origin: bottom left;
    transform: scale(0);
    transition: .6s;
}

.cart_bottom .side_cart_buttons a:hover::before {
    transform: scale(1);
    transform-origin: top right;
    transition: .6s;
}
.side_cart_buttons > a > span {
    position: relative;
    z-index: 1;
}
@media only screen and (min-width: 992px) {
    .bottom_header{
        display: none;
    }
}


    
